<!-- -*- mode: XML -*- -->
<launch>
	
	<!-- optionally launch in GDB, for debugging -->
	<arg name="debug" default="false" />
	<arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
	<arg unless="$(arg debug)" name="launch_prefix" value="" />
	
	<!-- base  -->
	<include file="/home/nvidia/RoseCar/launch/rosecar.launch" />
	
  	<!-- known map server -->
  	<arg name="map" default="/home/nvidia/RoseCar/maps/room.yaml" />
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />
	
  	<!-- amcl -->
  	<arg name="use_map_topic"  default="true"/>
  	<arg name="scan_topic"     default="zed_scan"/>
  	<arg name="initial_pose_x" default="0.0"/>
  	<arg name="initial_pose_y" default="0.0"/>
  	<arg name="initial_pose_a" default="0.0"/>
  	<node pkg="amcl" type="amcl" name="amcl">
    	<param name="use_map_topic"             value="$(arg use_map_topic)"/>
    	<param name="odom_model_type"           value="diff"/>
    	<param name="odom_alpha5"               value="0.1"/>
    	<!-- Publish scans from best pose at a max of 4 Hz -->
    	<param name="gui_publish_rate"          value="4.0"/>
    	<param name="laser_max_beams"           value="60"/>
    	<param name="laser_max_range"           value="12.0"/>
    	<param name="min_particles"             value="500"/>
    	<param name="max_particles"             value="2000"/>
    	<param name="kld_err"                   value="0.05"/>
    	<param name="kld_z"                     value="0.99"/>
    	<param name="odom_alpha1"               value="0.2"/>
    	<param name="odom_alpha2"               value="0.2"/>
    	<!-- translation std dev, m -->
    	<param name="odom_alpha3"               value="0.2"/>
    	<param name="odom_alpha4"               value="0.2"/>
    	<param name="laser_z_hit"               value="0.5"/>
    	<param name="laser_z_short"             value="0.05"/>
    	<param name="laser_z_max"               value="0.05"/>
    	<param name="laser_z_rand"              value="0.5"/>
    	<param name="laser_sigma_hit"           value="0.2"/>
    	<param name="laser_lambda_short"        value="0.1"/>
    	<param name="laser_model_type"          value="likelihood_field"/>
    	<!-- <param name="laser_model_type" value="beam"/> -->
    	<param name="laser_likelihood_max_dist" value="2.0"/>
    	<param name="update_min_d"              value="0.25"/>
    	<param name="update_min_a"              value="0.2"/>
    	<param name="odom_frame_id"             value="odom"/>
    	<param name="base_frame_id"             value="base_footprint"/>
    	<param name="resample_interval"         value="1"/>
    	<!-- Increase tolerance because the computer can get quite busy -->
    	<param name="transform_tolerance"       value="1.0"/>
    	<param name="recovery_alpha_slow"       value="0.0"/>
    	<param name="recovery_alpha_fast"       value="0.0"/>
    	<param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    	<param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    	<param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    	<remap from="scan"                      to="$(arg scan_topic)"/>
	</node>

    <arg name="svo_file"              default="" /><!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <arg name="zed_id"                default="0" />
    <!-- GPU ID-->
    <arg name="gpu_id"                default="-1" />
    <!-- Definition coordinate frames -->
    <arg name="publish_tf"            default="false" />
    <arg name="odometry_frame"        default="zed_odom" />
    <arg name="base_frame"            default="zed_camera_right_link" />
    <arg name="camera_frame"          default="camera_link" />
    <arg name="depth_frame"           default="camera_link" />-->

    <node name="zed_wrapper_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen" ns="zed">

        <!-- publish odometry frame -->
        <param name="publish_tf"            value="$(arg publish_tf)" />
        <!-- Configuration frame camera -->
        <param name="odometry_frame"        value="$(arg odometry_frame)" />
        <param name="base_frame"            value="$(arg base_frame)" />
        <param name="camera_frame"          value="$(arg camera_frame)" />
        <param name="depth_frame"           value="$(arg depth_frame)" />
    
        <!-- SVO file path -->
        <param name="svo_filepath"          value="$(arg svo_file)" />

        <!-- ZED parameters -->
        <param name="zed_id"                value="$(arg zed_id)" />

        <param name="resolution"            value="3" />
        <param name="quality"               value="1" />
        <param name="sensing_mode"          value="0" />
        <param name="frame_rate"            value="60" />
        <param name="odometry_db"           value="" />
        <param name="openni_depth_mode"     value="0" />
        <param name="gpu_id"                value="$(arg gpu_id)" />
        <param name="confidence"            value="100" />
        <param name="depth_stabilization"   value="1" />

        <!-- ROS topic names -->
        <param name="rgb_topic"             value="rgb/image_rect_color" />
        <param name="rgb_raw_topic"         value="rgb/image_raw_color" />
        <param name="rgb_cam_info_topic"    value="rgb/camera_info" />

        <param name="left_topic"            value="left/image_rect_color" />
        <param name="left_raw_topic"        value="left/image_raw_color" />
        <param name="left_cam_info_topic"   value="left/camera_info" />
    
        <param name="right_topic"           value="right/image_rect_color" />
        <param name="right_raw_topic"       value="right/image_raw_color" />
        <param name="right_cam_info_topic"  value="right/camera_info" />

        <param name="depth_topic"           value="depth/depth_registered" />
        <param name="depth_cam_info_topic"  value="depth/camera_info" />

        <param name="point_cloud_topic"     value="/zed_pc2" />
        <param name="odometry_topic"        value="odom" />

    </node>

    <!-- pointcloud_to_laserscan_node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="zed_pointcloud_to_laserscan"
		output="screen" launch-prefix="$(arg launch_prefix)" >
        <remap from="cloud_in" to="/zed_pc2"/>
		<remap from="scan" to="/zed_scan" /> 
        <rosparam>
           target_frame: laser # Leave disabled to output scan in pointcloud frame
           range_min: 0.0
           range_max: 40.0
           use_inf: true
           # Concurrency level, affects number of pointclouds queued for processing and number of threads used
           # 0 : Detect number of cores
           # 1 : Single threaded
           # 2->inf : Parallelism level
           concurrency_level: 1
        </rosparam>
    </node>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="my_rviz" 
	args="-d /home/nvidia/RoseCar/rviz/known.rviz" />
	
</launch>
